@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');


:root{
    --g32: #323232;
    --text: #f1f1f1;

    --blue: #00aaff;
    --blue2: #00d4ff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;

    outline: none;
}

body{
    min-height: 100vh;
    background-color: var(--g32);
    color: var(--text);
}

.card{
    flex:1;
    min-width: 240px;
    border-radius: 8px;
    overflow: hidden;
    background-color: black;
    position: relative;
}

#image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
}

.Btn{
    outline: none;
    border: none;
    height: 48px;
    width: 128px;
    font-size: 16px;
    border-radius: 8px;
    background: linear-gradient(to bottom, var(--blue2), var(--blue));
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.48);
    color: var(--text);
}

.click{
    cursor: pointer;
    transition: .16s all ease-in-out;
}

.click:active{
    opacity: 0;
}

.click:disabled:active{
    opacity: 1;
}

.click:disabled{
    cursor: auto;
}


.selected {
    opacity: 0.32;
}

.iNumber{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.iNumberBox{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.32));
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}